asn1crypto==0.24.0
beautifulsoup4==4.5.1
cryptography==2.1.4
Django==1.11.20
dnslib==0.9.6
enum34==1.1.6
future==0.16.0
idna==2.6
ipaddress==1.0.17
IPy==0.83
keyring==10.6.0
keyrings.alt==3.0
libusb1==1.5.1
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
paramiko==2.0.0
pexpect==4.2.1
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyodbc==4.0.17
pysqlite==2.7.0
pytz==2019.1
pyxdg==0.25
scapy==2.3.1
SecretStorage==2.3.1
selenium==3.141.0
six==1.11.0
twodict==1.2
urllib3==1.24.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
Youtube-DLG==0.4
